body {
  background-color: #010022;
}

div.conteiner {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
}

table {
  width: 80%;
  margin: 0 auto;
  background-color: #d7f8f1;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #c5bfbf;
  padding: 1rem 2rem;
}

[data-selected] {
background-color: #8dca6b;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: white;
  position: fixed;
  top: calc(50% - 1.5rem);
  right: 0%;
}